.todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.todo-text {
  flex: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

.todo-text.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-item input {
  flex: 1 1 auto;
  min-width: 0;
}
